name: Release -> GHCR -> ECS (native Blue/Green)

on:
  release:
    types: [published]

permissions:
  contents: read
  packages: write
  id-token: write   # OIDC vers AWS

env:
  AWS_REGION: eu-west-3

  # ECS
  ECS_CLUSTER: default
  ECS_SERVICE: podinfo
  TASKDEF_FAMILY: podinfo          # family ou ARN de task definition (sans :revision => latest active)
  CONTAINER_NAME: app              # nom du container dans la task definition

  # GHCR
  REGISTRY: ghcr.io
  IMAGE_NAME: ghcr.io/${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ github.ref_name }}
            ${{ env.IMAGE_NAME }}:${{ github.sha }}
